@CHARSET "UTF-8";

.divfull{
	width:1280px;
	height:100%;
	margin:0 auto;
	background-image:url(../images/back_gound.png);	
}

.menu_2012509 {
    margin: 0 auto;
	text-align:center;
	position:absolute;
	margin-left:350px;
	z-index: 100;
}

.menu_2012509 table{
	margin:0 auto;
	padding:0;
	
}


.td_title{
    width: 95px;
	height: 50px;
	float: left;
}


.td_jiange {
    margin-top:20px;
    width: 13px;
}

.img_jiange {
    width: 12px;
}

.td_title a {
    width: 95px;	
    font-size: 16px;
	font-weight:bold;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #AB616B;
}


.td_title:hover {
    background:
        url(../images/menu_top_hover.png)
        no-repeat;
	color: #F7EDE4;
}

.td_title:hover  a{
    color: #F7EDE4;
}

.index_buttom{
	margin:0px auto;
	text-align:center;
	font-size:16px
}

.index_buttom a{
	font-size:16px;
    color:#0C6;
}

.index_buttom p{
    font-size:16px;
    color:#8C6;
}

.div_neirong{
	width:1280px; 
	text-align:center;	
	
}

.div_context {
	text-align: left;
	position: absolute;
	color: #808080;
	font-family: "仿宋";
	font-size: 18px;
	height: 26px;
	width: 79px;
}

.div1{
	left: 332px; 
	top: 696px; 
	width: 218px; 
	height: 64px;	
}



.foot_context {
	text-align: left;
	color: #FFFFFF;
	font-family: "仿宋";
	font-size: 14px;
	//font-weight:bold;
	margin-left:390px;
}

.pianyi{
	margin-left:300px;	
}