﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pro_detail.aspx.cs" Inherits="Home_pro_detail" %>

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>可果美-产品详情</title>
		<link href="css/reset.css" rel="stylesheet" type="text/css">
		<link href="css/css.css" rel="stylesheet" type="text/css">
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/com.js"></script>

	</head>
	<body>
		<div class="index_bd">
			<!--导航-->
			<div class="sub_header">
				<h1 class="logo"><em><img src="img/logo_fiexd.png" alt="可果美"></em></h1>
				<ul class="nav_ul">
					<li>
						<a href="index.aspx">首页</a><span class="arr_link"></span>
					</li>
					<li>
						<a href="story_txt.aspx">品牌介绍</a><span class="arr_link"></span>
						<div class="sub_nav">
							<div class="nav_a">
								<a href="story_txt.aspx#pplj">品牌理念</a> | <a href="story_txt.aspx#zzgy">制作工艺</a> | <a href="story_txt.aspx#dsj">可果美大事记</a>
							</div>
						</div>
					</li>
					<li class="cur">
						<a href="product.aspx">商品信息</a><span class="arr_link"></span>
						<div class="sub_nav">
							<div class="nav_a" style="text-indent:200px;">
								<a href="product.aspx#pro_1">纯正系列</a> | <a href="product.aspx#pro_2">果蔬生活系列</a> | <a href="product.aspx#pro_3">果蔬汁的价值</a>
							</div>
						</div>

					</li>
					<li>
						<a href="active_list.aspx">宣传活动</a><span class="arr_link"></span>
					</li>
					<li>
						<a href="shanghai.aspx">可果美上海</a><span class="arr_link"></span>
						<div class="sub_nav">
							<div class="nav_a" style="text-align:right;">
								<a href="shanghai.aspx#qyfz">企业概要及方针</a> | <a href="shanghai.aspx#new_list">可果美新闻</a> | <a href="shanghai.aspx#qa">Q&amp;A</a> | <a href="shanghai.aspx#lxfs">联系方式</a> | <a href="shanghai.aspx#xsqd">销售渠道</a>
							</div>
						</div>
					</li>
				</ul>

				<p class="wei_bd">
					<a class="weixin" href="#" title="微信"></a><a class="weibo" href="#" title="微博"></a>
				</p>
			</div>

			<div class="content main-content">
				<div class="pro_detail">
					<div class="tag_bd">
						<p class="tag_p cur">
							<span class="ico pg"></span>纯正系列
						</p>
						<p class="tag_p">
							<span class="ico loubu"></span>果蔬生活系列
						</p>
					</div>
					<div class="tag_content">
						<div class="con_bd clearfix">
							<div class="pro_left">
								<div class="big_pic"><img src="img/pro_pic.jpg">
								</div>
								<div class="thumbnail">
									<div class="small_pic">
										<img src="img/small_pic.jpg">
									</div>
									<div class="title">
										纯正番茄汁
									</div>
								</div>
							</div>
							<div class="pro_right">
								<h3><img src="img/pro_tit.jpg"></h3>
								<h4>纯正番茄汁</h4>
								<p>
									保留番茄的天然美味和营养，富含茄红素， 一瓶280ml≈4只完熟番茄，<b>蕴含美丽之秘的太阳果实，焕发你的天然美。百年经典，给你100%不添加的健康守护！</b>
								</p>
								<h4>纯正源于对经典的坚持！</h4>
								<h5>坚持钻研优良品种</h5>
								<p>
									可果美研究了全世界3/4的番茄品种，储存了<b>7500种</b>左右番茄种子，
									并培育出专用“榨汁番茄”，其所含番茄红素是普通番茄的2倍。
								</p>
								<h5>坚持自然培育之道</h5>
								<p>
									可果美番茄全部采用露天栽培，且一年只有一次成熟期。<br />
									<b>在收获环节，我们挑选和手工采摘那些最优质的完熟食材，</b>以获取其最好的味道及养分。
								</p>
								<h5>坚持100%纯正品质</h5>
								<p>
									可果美运用先进的番茄加工技术，充分保留番茄的原味和营养，让每个人都能品尝到100%纯正品质的番茄汁。
								</p>
								<h5>坚持安心享用的美味</h5>
								<p>
									可果美以其独特保鲜技术结合两次杀菌，实现番茄汁新鲜美味的最大化，不添加防腐剂也可保存12个月。
								</p>

								<!-- <p style="padding-top: 20px;">
									<img src="img/data_pic.jpg">
								</p> -->
							</div>
						</div>
						<div class="con_bd clearfix dis_n">
							<div class="pro_left"></div>
							<div class="pro_right"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer hei99">
				<div class="content">
					<p class="foot_txt">
						Copyright 2012 KAGOME(SHANGHAI) FOODS CO.,Ltd.All Rights Reserved.    沪ICP备06025276号
					</p>
				</div>
			</div>
		</div>

	</body>
</html>

