@charset "utf-8";
/* 内页头部 */
.sub_header{ height:80px; background:#d0112b;}
.sub_header .logo{ position:absolute; top:16px; left:36px; z-index:5; width:141px; height:50px; background:url(../img/sub_nav.png) 0 0 no-repeat;}
.sub_header .logo em{ display:none;}
.sub_header .nav_ul{ margin:0 auto; width:860px; height:80px;}
.sub_header .nav_ul li{position:relative;float:left; padding:0 20px;height:80px; line-height:80px; font-size:20px; font-weight:bold;  text-align:center; }
.sub_header .nav_ul li a:hover{ background:#fff; color:#333;}
.sub_header .arr_link{ position:absolute; top:37px; right:-5px; width:10px; height:10px; background:url(../img/sub_nav.png) -134px -61px no-repeat;}
.sub_header li a{ display:block; padding:0 20px; color:#fff;}
.sub_header li.cur{}
.sub_header li.cur a{ color:#d0112b; background:#fff;}
.sub_header li a:hover{ text-decoration:none;}
.wei_bd{position:absolute; top:28px; right:50px; z-index:5; width:97px; height:28px;}
.wei_bd .weixin,
.wei_bd .weibo{ display:inline-block; width:34px; height:28px; background:url(../img/sub_nav.png) 0 -52px no-repeat;}
.wei_bd .weibo{ margin-left:27px; background-position:-62px -52px;}

.sub_header li:hover .sub_nav{ display:block;}
.sub_header li .sub_nav{ display:none; position:fixed; top:80px; left:0; z-index:111; text-align:left; width:100%;height:46px; line-height:46px; color:#d0112b; background:#fff;font-size:18px;}
.sub_header li .sub_nav a{ display:inline; margin:0 5px; padding:0;color:#d0112b; font-size:16px; font-weight:100; }
.sub_header li .sub_nav .nav_a{  margin:0 auto; width:860px;}

.sub_header.fixed{ position:fixed;   z-index:100;width:100%; height:40px;}
.sub_header.fixed .logo{ top:8px; height:24px; width:70px; background:none;}
.sub_header.fixed .logo em{ display:block;}
.sub_header.fixed .logo img{ width:70px;}
.sub_header.fixed .nav_ul{ height:40px;}
.sub_header.fixed .nav_ul li{height:40px; line-height:40px; font-size:16px;}
.sub_header.fixed .arr_link{ top:16px;}
.sub_header.fixed .wei_bd{top:6px;}

.sub_header li .sub_nav.fixed{ position:fixed; top:40px; z-index:100; width:100%; height:28px; line-height:28px;font-size:12px !important;}
.sub_header.fixed  li .sub_nav a{ font-size:12px; font-weight:100; }

/* 产品详情 */
.pro_detail{ margin-top:35px;padding-bottom:40px;}
.pro_detail .tag_bd{ margin-left:40px; height:40px;}
.pro_detail .tag_bd .tag_p{ position:relative; float:left; margin-right:15px; padding:0 20px 0 46px; line-height:40px; background:#d7cec6; font-size:20px; color:#fff; border-top-left-radius:5px; border-top-right-radius:5px; cursor:pointer;}
.pro_detail .tag_bd .tag_p.cur,
.pro_detail .tag_bd .tag_p:hover{ background:#fff; color:#d0112b;}
.pro_detail .tag_bd .ico{ position:absolute; top:13px; left:16px; width:22px; height:20px; background:url(../img/lm_2c_btn.png) 0 0 no-repeat;}
.pro_detail .tag_bd .ico.pg{ background-position:0 0;}
.pro_detail .tag_bd .tag_p.cur .ico.pg,
.pro_detail .tag_bd .tag_p:hover .ico.pg{ background-position:0 -33px;}
.pro_detail .tag_bd .ico.loubu{ background-position:0 -101px;}
.pro_detail .tag_bd .tag_p.cur .ico.loubu,
.pro_detail .tag_bd .tag_p:hover .ico.loubu{ background-position:0 -68px;}

.tag_content{   background:#fff; border-radius:5px;}
.tag_content .con_bd{ padding:45px 47px;}
.tag_content .pro_left{ float:left; width:450px;}
.tag_content .big_pic{ width:430px; height:640px; text-align:center; border:1px solid #e2e2e2; border-radius:8px;}
.tag_content .pro_left .thubmnail_list .thumbnail:last-child{margin: 0;}
.tag_content .pro_left .thumbnail{text-align: center;width:98px; float: left; margin-right:13px; }
.pro_left .thumbnail .title{line-height:18px;padding-top: 10px;}
.pro_left .thumbnail.cur .small_pic{border:1px solid #363636;}
.tag_content .small_pic{ margin-top:40px; width:96px; height:160px; border:1px solid #e2e2e2; text-align:center;border-radius:8px;}
.tag_content .pro_right{ float:right; width:505px; color:#363636;}
.tag_content .pro_right h4{ margin-top:16px; margin-bottom:5px; font-size:22px; font-weight:bold;}
.tag_content .pro_right p{ font-size:16px; line-height:30px;}
.tag_content .pro_right h5{ margin:5px 0; padding-left:20px; height:20px; line-height:20px;font-size:16px; font-weight:bold;
							background: url(../img/product/p_01.png) 0 2px no-repeat;
 /*border-left:5px solid #d0112b;*/}



/* 新闻详情 */
.news_detail{ margin:0 auto; padding-bottom:40px; width:770px; color:#363636;}
.news_detail .h1_tit{ margin:70px 0 15px 0; font-size:42px; font-weight:bold;}
.news_detail .time{ margin-bottom:20px; font-size:16px;}
.news_detail .share_bd{ height:28px; line-height:28px;}
.news_detail .span{ float:left; margin-right:5px; font-size:16px;}
.news_detail .share_img{ float:left; margin-right:10px;}
.news_detail .jianjie{ padding:30px; margin-top:30px; margin-bottom:25px; border:1px solid #ccc; font-size:16px; line-height:30px; color: #363636;}
.news_detail .news_p{ font-size:20px; line-height:30px;}
.news_detail .news_p img{ display:block; margin:10px 0;}
/* 活动 */
.wd1000{ position:relative; margin:0 auto; width:1000px;}
.wd1000 .h1_tit{ margin:40px 0 15px 0; font-size:40px;}
.wd1000 .left_pic{margin:55px 0 15px 0; float:left; width:360px; height:511px;}
.wd1000 .right_txt{ float:right; width:600px;}
.time_address{ padding:27px 0;}
.time_address p{ line-height:34px; font-size:20px;}
.wd1000 .h5{ font-size:20px;}
.ac_detail{ margin-top:50px; padding-top:20px; border-top:1px solid #d0112b; clear:both;}
.ac_detail .slide_ad{ margin-top:15px;}
.ac_detail .big_img{ width:1000px; height:580px; text-align:center;}
.ac_detail .big_img img{ width:1000px; height:580px; text-align:center;}
.ac_detail .small_list{ position:relative; margin-top:20px; height:120px;}
.ac_detail .list_ul{ position:relative; margin:0 auto; width:915px; height:120px; overflow:hidden;}
.ac_detail .list_ul ul{ position:absolute; top:0; left:0;}
.ac_detail li{ float:left; margin-right:5px;width:179px; height:120px;}
.ac_detail li img{width:179px; height:120px;}
.ac_detail .to_left,
.ac_detail .to_right{ position:absolute; top:0; width:37px; height:119px;}
.ac_detail .to_left{ left:0;}
.ac_detail .to_right{right:0;}

/* 可果美  上海 */
.wd1000 .left_pic{ float:left;}
.wd1000 .pos_pic1{ position:absolute; top:410px; right:-288px;}
.wd1000 .pos_pic2{ position:absolute; top:936px; left:-430px;}
.wd1000 .pos_pic3{ position:absolute; top:2050px; right:-255px;}
.wd1000 .sh_h2{ position:relative; padding-left:48px; height:60px; font-size:42px; line-height:100%; border-bottom:1px solid #d0112b; font-weight:bold;}
.gaikuang_bd{ margin:120px auto 50px auto;}
.gaikuang_bd .sh_h2{ padding-left:0; margin-bottom:28px;}
.gaikuang_bd .gai_img{ float:left; width:438px; height:438px;}
.gaikuang_bd .gai_txt{ float:right; width:496px; font-size:16px; line-height:32px;color:#363636;}


.wd1000 .news_bd{ margin-bottom:42px;}
.wd1000 .news_bd .ico{ position:absolute; top:5px; left:10px;width:29px; height:36px; background:url(../img/sh_ico.png) 0 -192px no-repeat;}
.wd1000 .news_bd li{ position:relative; padding:30px 10px 30px 165px; height:64px; border-bottom:1px dashed #ccc; color:#363636;}
.wd1000 .news_bd .datetime{ position:absolute; top:35px; left:10px; width:140px; font-size:20px;}
.wd1000 .news_bd .p{ position:relative; padding-left:25px; font-size:16px; line-height:32px;}
.wd1000 .news_bd .p_arr{ position:absolute; top:10px; left:0;display:inline-block; width:16px; height:16px; background:url(../img/sh_ico.png) -1px -370px no-repeat;}

.wd1000 .view_link{ display:inline-block;  width:90px; height:28px; text-align:center; line-height:28px; color:#363636; border:1px solid #363636; border-radius:5px;}
.wd1000 .news_bd .view_link{position:absolute; right:18px; top:76px;}
.wd1000 .view_link:hover{ border:1px solid #d0112b; background:#d0112b; color:#fff; text-decoration:none;}

.wd1000 .page_bd{ margin:17px 20px 50px 0; text-align:right; font-size:18px;}
.wd1000 .page_bd a{ color:#363636; margin:0 8px; text-decoration:none;}
.wd1000 .page_bd a:hover,
.wd1000 .page_bd a.cur{ color:#d0112b; text-decoration:underline;}
.wd1000 .page_bd .pre_a,
.wd1000 .page_bd .next_a{ margin:0 15px; text-decoration:underline;}

.wd1000 .q_a_bd .ico{ position:absolute; top:5px; left:5px;width:40px; height:36px; background:url(../img/sh_ico.png) 0 0 no-repeat;}
.wd1000 .qa_list{border-bottom:1px dashed #d5cfc9; font-size:16px;}
.wd1000 .qu_p{ position:relative; padding-left:50px; margin:35px 0 24px 0; line-height:28px;}
.wd1000 .an_p{ position:relative; padding-left:50px; margin:0 0 18px 0; line-height:32px;}
.wd1000 .qu_ico,
.wd1000 .an_ico{ position:absolute; left:3px; top:0; height:28px; width:28px; background:url(../img/sh_ico.png) 0 -256px no-repeat;}
.wd1000 .an_ico{ background-position:0 -310px; top:3px; }
.wd1000 .more_qa{ display:block; margin:30px auto; width:82px; height:82px; background:url(../img/sh_ico.png) -1px -401px no-repeat;}

.wd1000 .lxfs_bd{ margin-bottom:90px; width:420px;}
.lxfs_bd .sh_h2{ width:321px; margin-bottom:28px;}
.lxfs_bd .ico{ position:absolute; top:5px; left:5px;width:40px; height:36px; background:url(../img/sh_ico.png) 0 -63px no-repeat;}
.lxfs_bd li{ margin-top:10px; font-size:16px;}

.wd1000 .sale_bd{ position:relative; margin-bottom:90px; width:100%;}
.sale_bd .ico{ position:absolute; top:5px; left:5px;width:40px; height:40px; background:url(../img/sh_ico.png) 0 -128px no-repeat;}
.sale_bd .sh_h2{ width:390px; margin-bottom:28px;}
.sale_bd .city_list{ position:absolute; width:260px; height:423px; background:rgba(0,0,0,.5); color:#fff;}
.sale_bd .h4_tit{ padding:42px 0 20px 48px; font-size:16px;}
.sale_bd .city_list ul{ padding-left:46px;}
.sale_bd .city_list li{ float:left; margin-bottom:15px; width:84px; font-size:20px;}
.sale_bd .city_list a{ color:#fff;}


.pos_lpic{ position:absolute;  top:483px; /*left:-160px;*/ left:-100px; z-index:5;width:316px; height:685px;}
/*纯正*/
.chun_zheng{ margin-top:106px; height:528px;}
.chun_zheng .left_txt{ float:left; width:468px; color:#363636;}
.chun_zheng .left_txt h2{ padding-top:35px;}
.chun_zheng .left_txt h3{ margin-top:40px; font-size:20px; font-weight:bold;}
.chun_zheng .left_txt p{ margin-bottom:30px; line-height:32px; font-size:16px;}
.chun_zheng .r_pic1{ float:right;}
/*果蔬*/
.guoshu_bg{ width:100%; height:768px; background:url(../img/temp/pro_wbg.png) center 0 no-repeat;}
.guo_shu{ position:relative; padding-top:145px; height:641px;}
.guo_shu .left_txt{ float:left; width:468px; color:#363636;}
.guo_shu .left_txt h2{ padding-top:35px;}
.guo_shu .left_txt h3{ margin-top:10px; font-size:20px; font-weight:bold;}
.guo_shu .left_txt p{ margin-bottom:10px; line-height:32px; font-size:16px;}
.guo_shu .r_pic1{ position:absolute; top:140px; right:-170px;}

.banner_pic{ height:437px; background:url(../img/temp/pro_img.jpg) center 0 no-repeat;}

.cptc_bd{ position:relative; width:1000px; margin:200px auto 0 auto;}
.cptc_bd.green_bd{ padding-bottom:40px;}
.cptc_bd.green_bd .tc_img{ position:absolute; left:-85px; top:-96px;}
.cptc_bd .green_txt{ padding-left:486px; width:474px; color:#118f00; line-height:32px; font-size:16px;}
.cptc_bd .green_txt em{ display:block; font-weight:bold;}
.cptc_bd .green_txt p{ margin-bottom:30px;}

.cptc_bd.red_bd .tc_img{ position:absolute; right:0; top:-58px;}
.cptc_bd.red_bd{ padding-bottom:30px;}
.cptc_bd .red_txt{ width:436px; color:#ec1d59; line-height:32px; font-size:16px;}
.cptc_bd .red_txt em{ display:block; font-weight:bold;}
.cptc_bd .red_txt p{ margin-bottom:30px;}

.cptc_bd.yellow_bd .tc_img{ position:absolute; left:-60px; top:-140px;}
.cptc_bd.yellow_bd{}
.cptc_bd .yellow_txt{ margin-left:487px; padding-top:20px; color:#fd7800; line-height:32px; font-size:16px;}
.cptc_bd .yellow_txt em{ display:block; font-weight:bold;}
.cptc_bd .yellow_txt p{ margin-bottom:30px;}

.cptc_bd.red_bd2 .tc_img{ position:absolute; right:-94px; top:-58px;}
.cptc_bd.red_bd2{ padding-top:40px; padding-bottom:130px;}
.cptc_bd .red2_txt{ width:400px; color:#ff0000; line-height:32px; font-size:16px;}
.cptc_bd .red2_txt em{ display:block; font-weight:bold;}
.cptc_bd .red2_txt p{ margin-bottom:30px;}


/*宣传活动*/
.active_bd{ position:relative; margin:30px auto 0 auto; width:100%; height:797px; background:url(../img/active_bdbg.png) center 292px no-repeat;}
.left_pos{ position:absolute;top:565px;left:-200px; z-index:10; width:265px; height:232px; background:url(../img/active_bdbg.png) 0 bottom no-repeat;}
.right_pos{ position:absolute; top:335px; right:-260px;z-index:10; width:295px; height:458px;  background:url(../img/active_bdbg.png) -1188px -693px no-repeat;}

.ac_slide{ position:relative; margin:0 auto; width:1012px;}
.ac_slide .slide_p{ position:absolute; top:435px; padding:30px 45px; width:922px; height:230px;font-size:20px; background:#fff;}
.ac_slide .slide_p h3{ margin-bottom:10px; padding-left:8px;  border-left:3px solid #d0112b; line-height:22px;}
.ac_slide .slide_p p{ margin-bottom:10px; padding-left:8px;}
#slide_bd{ position:absolute; margin:0 auto;width:1012px; height:730px;overflow:hidden;}
#slide_bd .slide_list{position:absolute;  width:1012px; height:435px;}
#slide_bd ul li{float:left;width:1012px; height:435px;overflow:hidden;}
#slide_bd .slide_list img{width:1012px; height:435px;}
#slide_bd .btn{position:absolute;right:30px;top:390px;padding: 0 10px;height: 20px;border-radius: 20px;text-align:right;background:rgba(153,59,40,.6);}
#slide_bd .btn span{display:inline-block;_display:inline;border: 1px solid #fff;_zoom:1;border-radius: 10px;width: 9px;height: 9px;_font-size:0;margin: 5px;cursor:pointer;}
#slide_bd .btn span.on{background:#fff;}
.ac_slide .preNext{position:absolute;width:27px;height:47px;top:200px; z-index:100;}
.ac_slide .pre{left:-47px;background:url(../img/r_arr.png) no-repeat 0 0;}
.ac_slide .next{right:-44px;background:url(../img/l_arr.png) no-repeat 0 0;}



/**/
.hos_list{ padding:30px 0 35px 0; border-bottom:1px dashed #ccc;}
.hos_list .l_pic{ float:left; width:314px; height:314px;}
.hos_list .right_txt{ margin-top:-5px; float:right; width:625px;}
.hos_list .right_txt h3{ margin-bottom:5px; font-size:20px; font-weight:bold;}
.hos_list .right_txt p{ margin-bottom:5px; font-size:16px; line-height:30px;}
.hos_list .view_link{ float:right; margin-right:10px;}



/*品牌介绍*/
.s_lpos{ position:absolute; top:1600px; left:-320px; z-index:55;}
.s_rpos{ position:absolute; top:2366px; right:-607px;z-index:55;}
.s_lpos2{ position:absolute; top:3650px; left:-750px;z-index:55;}
.ppln_bd{ margin-top:86px; position:relative; height:560px;}
.ppln_bd .tit_pic{ position:absolute; top:-60px; right:0;}
.ppln_bd .ppln_txt{ float:right; padding-left:35px;  width:450px; color:#363636;}
.ppln_bd .ppln_txt h3{ position:relative; left:-35px; margin-bottom:30px; font-size:42px; font-weight:bold;}
.ppln_bd .ppln_txt h2{ position:relative; margin-bottom:10px; left:-35px;}
.ppln_bd .ppln_txt p{ margin-bottom:25px; font-size:16px; line-height:32px;}
.ppln_bd .ppln_txt b{ font-size:20px; font-weight:bold;}
.ppln_bd .ppln_pic{ position:absolute; top:0; left:-100px;}

.zzgy_bg{ position:relative; margin:0 auto; width:100%; height:1974px; background:url(../img/s/ppjs_bg.png) center 0 no-repeat;}
.zzgy_bd{ position:relative; margin:0 auto; width:1000px; padding-top:130px; height:1650px;}
.zzgy_line{ position:absolute;width:0px; border-left:1px dashed red; height: 810px;top:140px; }
.zzgy_line.secton1{ left:-50px; }
.zzgy_line.secton2{ top:960px;right:-40px;height:760px; }
.zzgy_bd .jingtian{ position:absolute; top:130px; left:-20px; width:548px; height:548px;}
.zzgy_bd .jtian_1{ position:absolute; top:237px; left:613px; width:360px; height:224px; font-size:20px; line-height:32px;}
.zzgy_bd .jtian_1 h4{ margin-bottom:15px;}
.zzgy_bd .jtian_2{ position:absolute;  z-index:10; width:310px; height:125px; font-size:16px; line-height:28px; color:#363636;}
.zzgy_bd .jtian_2 p{margin-left: 10px;}
.zzgy_bd .jtian_2 h5{ font-size:20px; font-weight:bold;}
.zzgy_bd .jtian_2 .img{ position:absolute;  z-index:20; top:-22px; left:-95px; width:86px; height:86px;}
.zzgy_bd .jtian_2.jt_1{ top:530px; left:700px;}
.zzgy_bd .jtian_2.jt_2{top:695px; left:495px; height:174px;}
.zzgy_bd .jtian_2.jt_3{top:805px; left:130px; width:310px;height:174px;}

.zzgy_bd .jtian_1.xiwu_1{ top:1054px; left:35px;}
.zzgy_bd .xiwu_pic{ position:absolute;top:960px; left:470px;}
.zzgy_bd .jtian_2.xwu_1{ top:1325px; left:0; width:338px;height:153px;}
.zzgy_bd .jtian_2.xwu_2{top:1500px; left:90px; height:153px; width:375px;}
.zzgy_bd .jtian_2.xwu_3{top:1590px; left:510px; width:328px;height:153px;}
.zzgy_bd .jtian_2.xiwu{ text-align:right;}
.zzgy_bd .jtian_2.xiwu .img{top:-22px; left:auto; right:-100px;}

.zzgy_bd .jtian_2.xiwu p{margin: 0;}

/*大事件*/
.dashiji_bd{ position:relative; color:#363636; font-size:16px;}
.dashiji_bd .dashiji_tit{ position:absolute; left:-20px;}
.dashiji_top{ height:240px; text-align:center;}
.dashiji_top h2{ margin-bottom:30px; font-size:42px;}
.list_bd{ }
.list_bd .arr_bg{ position:relative; height:40px; background:url(../img/s/dashi_arr.png) center 0 no-repeat;}
.list_bd .arr_bg .t_bor{ position:absolute; bottom:0; left:0; margin-left:-1px; height:10px;width:50%; border-right:2px solid #3a3a3a;}
.list_bd .arr_bg .b_bor{ position:absolute; top:0; left:0; margin-left:-1px; height:10px;width:50%; border-right:2px solid #3a3a3a;}
.list_bd .list{position:relative;  width:499px; border-right:2px solid #3a3a3a; height:150px }
.list_bd .li_bd{position:absolute; width:1000px; height:150px;}
.list_bd .l_jishi{ position:relative; float:left; padding-right:224px; width:282px; height:150px; text-align:right; background:url(../img/s/dashi_left.png) right 30px no-repeat;}
.list_bd .r_jishi{position:relative; float:right; padding-left:224px; width:282px; height:150px; text-align:left; background:url(../img/s/dashi_right.png) left 30px no-repeat;}
.list_bd .li_bd h5{ font-size:32px; font-weight:bold;}
.list_bd .l_jishi .pic{ position:absolute; top:10px; right:100px; width:120px; height:100px; text-align:center;}
.list_bd .r_jishi .pic{ position:absolute; top:10px; left:100px; width:120px; height:100px; text-align:center;}

.list_bd .r_jishi.last{ padding-left:0; padding-top:50px; width:400px; background:none;}
.list_bd .bg_jishi{ position:absolute; left:0; bottom:115px; z-index:5; width:435px; height:284px; background:url(../img/s/dashi_bg.png) 0 0 no-repeat;}















