﻿@charset "utf-8";
/* index */
.index_bd{ margin:0 auto; width:100%; max-width:1920px; background:#f6ece3 url(../img/repeat.jpg) 0 0 no-repeat; overflow:hidden;}
.car_banner{ position:absolute; z-index:5; top:644px; left:640px; width:84px; height:44px; background:url(../img/ico.png) 0 -33px no-repeat;/*-webkit-animation:carMove 8s ease-in infinite;*/ }
.index_bd .banner{ position:relative; width:100%; min-width:1100px; height:688px;  border-bottom:12px solid #d0112b;}
.index_bd .banner .banner_pro{ position:absolute; z-index:5; bottom:-22px; right:60px; width:151px; height:400px;}
.index_bd .way_bg{ position:relative; margin:0 auto; width:100%; max-width:1604px;  background:url(../img/way.png) center 0 no-repeat;}
.way_bg .road-1{ z-index: 4; position:absolute; background:url(../img/way/1.png) center 0 no-repeat; width: 1386px;height: 148px;top:731px;left:-127px;}
.way_bg .road-2{ z-index: 4; position:absolute; background:url(../img/way/2.png) center 0 no-repeat; width: 1418px;height: 88px;top:638px;left:-100px;}
.way_bg .road-3{ z-index: 4; position:absolute; background:url(../img/way/3.png) center 0 no-repeat; width: 1280px;height: 75px;top:1151px;left:-620px;}
.way_bg .road-4{ z-index: 4; position:absolute; background:url(../img/way/4.png) center 0 no-repeat; width: 450px;height: 1093px;top:3px;left:-396px;}
.way_bg .road-5{ z-index: 4; position:absolute; background:url(../img/way/5.png) center 0 no-repeat; width: 491px;height: 70px;top:1095px;left:-83px;}
.logo{ position:absolute; top:49px; left:50%; z-index:5; margin-left:-235px; width:470px; height:91px; background:url(../img/logo_ico.png) 0 0 no-repeat;}
.index_bd .banner .pic_txt{ 
    position:absolute;
    //top:191px;
    top:181px;
    left:50%; margin-left:-235px; height:71px; width:500px;
    font-size:57px;
    font-weight:500;
    color:white;
    //background:url(../img/logo_ico.png) 0 -137px no-repeat;
}
.index_bd .banner .ad{ position:relative; margin:0 auto; height:688px; width:100%; overflow:hidden;}
.index_bd .banner .ad li{ position:absolute; top:0; left:0;height:688px; width:100%;}
.index_bd .banner .ad li .li-content{width:999px; margin:0 auto; position:relative; height:688px;}
.index_bd .banner .ad li.ban1{ 
    z-index:2;
    //background:url(../img/banner.jpg) center 0 no-repeat;
}
.index_bd .banner .ad li.ban2{ z-index:1; background:url(../img/banner0.jpg) center 0 no-repeat;}
.index_bd .active_pro{ position:absolute; top:298px; left:-70px; width:153px; height:390px; z-index:10;}
.index_bd .t_big{ position:absolute; bottom:2px; left:-15px; /*width:242px; height:247px; background:url(../img/t_ico.png) -224px 0 no-repeat;*/background:url(../img/tomato.png) 0 no-repeat; width: 268px;height:260px;}
.index_bd .t_small{ position:absolute; bottom:15px; z-index:100; right:30px; width:162px; height:180px; background:url(../img/t_ico.png) 0 0 no-repeat;}
.index_bd .banner .banner_pro_tl{bottom:0; top:auto;left:7px; position:absolute; z-index:8;}

/*banner_active*/
.index_bd .banner_active{ position:relative; width:100%; min-width:1100px; height:688px;  border-bottom:12px solid #d0112b; background:url(../img/banner_active.jpg) center 0 no-repeat;}
.index_bd .active_box{position:relative; margin:0 auto; padding-top:18px; width:980px; height:670px;}
.index_bd .active_bg{ position:absolute; top:0; left:0; z-index:2; padding-top:18px; width:980px; height:670px; background:url(../img/active_bg.png) 0 19px no-repeat;}
#slide_bd{position:absolute; z-index:5; top:237px; left:143px;width:816px; height:373px;overflow:hidden;}
#slide_bd .slide_list{position:absolute;  width:816px; height:373px;}
#slide_bd ul li{float:left;width:816px; height:373px;overflow:hidden;}
#slide_bd .slide_list img{width:816px; height:373px;}
#slide_bd .btn{position:absolute;right: 15px;bottom: 15px;padding: 0 10px;height: 20px;border-radius: 20px;text-align:right;background:rgba(153,59,40,.6);}
#slide_bd .btn span{display:inline-block;_display:inline;border: 1px solid #fff;_zoom:1;border-radius: 10px;width: 9px;height: 9px;_font-size:0;margin: 5px;cursor:pointer;}
#slide_bd .btn span.on{background:#fff;}

.more_link{width: 115px;height:33px;background: url(../img/lm_2c_4.png) no-repeat;display:block; overflow: hidden;}
.more_link:hover{ background-position: 0 -33px; }
/*导航*/
.nav_box{ position:relative; padding-top:24px; margin:0px 0 0 60px; height:45px; }
.nav_box .nav{ width:860px; height:44px;}
.nav_box .nav li{ position:relative; float:left; padding:0 20px; width:122px; height:44px; line-height:44px; font-size:20px; font-weight:bold;  text-align:center; }
.nav_box .nav .arr_link{ position:absolute; top:17px; right:-5px; width:10px; height:10px; background:url(../img/nav_bg.png) -133px 0 no-repeat;}
.nav_box .nav li a{color:#d0112b;}
.nav_box .nav li a:hover{ text-decoration:none;}
.nav_box .nav li.cur{background:url(../img/nav_bg.png) 20px -53px no-repeat; color:#fff;}
.nav_box .nav li.cur a{ color:#fff;}

.nav_box .nav li.nth_1{ padding-left:0; width:94px;}
.nav_box .nav li.nth_1.cur{background-position:0 0;}
.nav_box .nav li.nth_last{ width:141px;}
.nav_box .nav li.nth_last.cur{ background-position:20px -107px;}
.weiboxin{ position:absolute; top:28px; right:0; width:84px; height:26px;}
.weiboxin a.weixin{ margin-right:18px; display:inline-block; width:28px; height:25px;background:url(../img/ico.png) 0 0 no-repeat;}
.weiboxin a.weibo{ display:inline-block; width:30px; height:25px;background:url(../img/ico.png) -47px 0 no-repeat;}
/*品牌故事*/
.story_box{ position:relative; display:block; height:864px;}
.story_box .lm_tit,
.product_box .lm_tit,
.value_box .lm_tit,
.find_box .lm_tit{ position:absolute; top:70px; right:-12px; width:179px; height:147px; background:url(../img/ico.png) -102px 0 no-repeat;}
.story_box .story_txt{ position:absolute; top:170px; left:58px; width:364px; height:510px;}
.story_box .tit_h3{ height:82px; width:218px; background:url(../img/ico.png) 0 -212px no-repeat;}
.story_box .tit_h3.tomato{ height:82px; width:218px; background:url(../img/ico.png) 0 -212px no-repeat;}
.story_box .tit_h3.meixue{ background-position:0 -301px;}
.story_box .p{ margin:10px 0 44px 0; font-size:20px; line-height:34px; color:#363636;}
.story_box .story_img{ position:absolute; top:170px; right:170px;}
.story_box .story_img1{ position:absolute; top:170px; right:170px;}
.story_box .story_img2{ position:absolute; top:460px; right:165px; z-index:3;}
.story_box .story_img3{ position:absolute; top:267px; right:305px; z-index:4;}

.story_box .ico_house{ position:absolute; left:371px; bottom:23px; width:319px; height:178px; background:url(../img/house.png) 0 0 no-repeat;}


/*产品介绍*/
.product_box{position:relative; display:block; height:682px;}
.product_box .lm_tit{ top:5px; background-position:-307px 0;}
.product_box .drink_show{  position:absolute; top:60px; left:40px; width:496px; height:622px;}
.product_box .J_show{position:absolute; top:0; left:0; width:496px; height:622px;}
.product_box .drink_img{  float:left; /*width:190px;*/ width:333px; text-align:center; position: absolute;  top: 150px; left: -136px;}
.product_box .drink_img.tomato{ top: 50px;}
.product_box .drink_img img{ /*max-width:190px;*/}
.product_box .txt_r{ float:right; width:270px;}
.product_box .txt_r .tit_h3{ margin-top:5px; padding-bottom:84px; height:60px; background:url(../img/home/h_03.png) 40px 0 no-repeat; border-bottom:3px solid #00561f;}
.product_box .txt_r .tit_h3.tomato{background:url(../img/lm_2c_2.png) 0 0 no-repeat;margin-top:84px; padding-bottom:20px;border-bottom:3px solid #522b1c;}
.product_box .p{ margin:10px 0 36px 0; font-size:20px; line-height:34px; color:#404040;}
.drink_list{ position:absolute; right:0; top:198px; width:470px; height:285px;}
.drink_list li,
.drink_list li.li{ position:relative; float:left; margin-right:28px; width:124px; height:285px;}
.drink_list li.li{ width:183px;text-align:center; }
.drink_list li.li .pic{ margin:90px auto 50px auto; /*width:183px;*/}
.drink_list li.li .a_link{position:static; display:inline-block; width:auto; padding-right:8px; height:30px;font-size:18px; line-height:30px;color: #d0112b; cursor:pointer; border:1px solid #d0112b; border-radius:5px;}
.drink_list .tip_bg{ display:none; position:absolute; top:-40px; left:44px; padding:30px 0 0 0; width:176px; height:130px; background:url(../img/tip_bg.png) 0 0 no-repeat; text-align:center; font-size:15px; color:#fff;}
.drink_list .tip_bg.green{background:url(../img/home/h_06.png) 0 0 no-repeat;}
/*
.drink_list li .img{ margin:0 auto 15px auto; width:93px; height:238px; background:url(../img/lm_2c_1.png) 0 0 no-repeat; cursor:pointer;}
.drink_list li .img.img1{  position:absolute; left:15px; background-position:0 0;}
.drink_list li .img.img2{position:absolute; left:15px;background-position:-146px 0;}
.drink_list li .img.img3{position:absolute;left:15px; background-position:-291px 0;}
.drink_list li .a_link{position:absolute; bottom:0; width:124px; height:30px;font-size:18px; line-height:30px;color: #d0112b; cursor:pointer; border:1px solid #d0112b; border-radius:5px;}
.drink_list .tip_bg{ display:none; position:absolute; top:-160px; left:44px; padding:30px 0 0 0; width:176px; height:123px; background:url(../img/tip_bg.png) 0 0 no-repeat; text-align:center; font-size:20px; color:#fff;}

*/

.drink_list li.on .tip_bg{ display:block;}
.drink_list .btnico_bg{ float: left; margin-top:5px; margin-left: 10px; display:inline-block; margin-right: 7px; width: 27px; height:20px; background: url(../img/lm_2c_btn.png) 0px -32px no-repeat; border-right:1px solid #d0112b;}
.drink_list .btnico_bg.loubu_bg{ background-position:0 -68px;}
.drink_list .btnico_bg.jvzi_bg{ background-position:0 -135px;}
.drink_list li.on .a_link{ background-color:#d0112b;color:#fff;}
.drink_list .on .btnico_bg{ background-position:0 0;border-right:1px solid #fff; }
.drink_list .on .btnico_bg.loubu_bg{ background-position:0 -100px;border-right:1px solid #fff;}
.drink_list .on .btnico_bg.jvzi_bg{ background-position:0 -170px;border-right:1px solid #fff;}


.product_box .ico_house{   position:absolute; left:268px; bottom:25px; width:475px; height:99px; background:url(../img/house.png) -329px 0 no-repeat;}




/*蔬菜价值*/
.value_box{position:relative; display:block; height:737px;}
.value_box .lm_tit{ top:30px; left:53px; height:154px; background-position:-485px 0;}
.value_img1{ position:absolute; top:-55px; left:-297px; width:418px; height:384px;}
.value_img2{ position:absolute; top:97px; left:0; width:605px; height:524px;}
.value_img2 .lm_3c_i1{ position:absolute; top:235px; left:213px; z-index:2;}
.value_img2 .lm_3c_i2{ position:absolute; top:126px; left:0;}
.value_img2 .lm_3c_i3{ position:absolute; top:0; left:353px; z-index:3;}
.value_right{ position:absolute; top:62px; right:15px; padding:0 40px 0 59px;width:363px; height:409px; background:url(../img/lm_3c_txt_bg.png) 0 0 no-repeat;}
.value_box .ico_house{ position:absolute; bottom:42px; left:734px; width:493px; height:198px; background:url(../img/house.png) -820px 0 no-repeat;}
.value_right .h3_lm3{ padding-top:30px;  font-size:42px;}
.value_right .txt_lm3{ margin-bottom:10px; line-height:34px; font-size:20px;}

.zhuanjia{ margin:20px; border-top:1px dashed #ccc;}
.zhuanjia .say{ position:relative;  padding:20px 0 0 70px; line-height:60px; vertical-align:middle; font-size:20px;}
.zhuanjia .say a{ color:#333;}
.user_ico{ position:absolute; top:20px; left:0;}
.more_right{ padding-right:30px; text-align:right; margin-top:10px;}


/*找到*/
.find_box{position:relative; display:block; height:1331px;}
.find_box .lm_tit{ top:60px; left:180px; height:160px; background-position:-495px -168px;}
.find_box .txt_lm4{ position:absolute; top:405px; left:84px; width:410px; height:590px;}
.find_box .h3_lm4{ margin-bottom:30px; font-size:40px; color:#363636;}
.find_box .p_lm4{ font-size:20px; color:#363636; line-height:34px;}


.find_box .map{ position:absolute; top:55px; right:0;}
.find_box .map .h3_lm4{ margin-bottom:20px;}
.find_box .map span{ display:inline-block;}
.find_box .map .tit_s{ width:165px; font-weight:bold;}
.find_box .map img{ margin-top:30px;}
.find_box .loubu{position:absolute; top:-46px; right:-266px; width:312px; height:272px;}
.find_box .ico_house_small{position:absolute; top:400px; left:-178px; width:217px; height:274px; background:url(../img/house.png) -1058px -269px no-repeat;}

.find_box .ico_house{position:absolute; bottom:79px; left:-79px; width:1025px; height:394px; background:url(../img/house.png) 0 -208px no-repeat;}
.find_box .pro_img{ position:absolute; bottom:0; right:-120px; width:236px; height:623px;}



@-webkit-keyframes carMove{
    0%{-webkit-transform:translateX(-150px)}  
    100%{-webkit-transform:translateX(1900px)}
}
@keyframes carMove
{
    0%{-webkit-transform:translateX(-150px)}  
    100%{-webkit-transform:translateX(1900px)}
}
/* Firefox */
@-moz-keyframes carMove 
{
    0%{-webkit-transform:translateX(-150px)}  
    100%{-webkit-transform:translateX(1900px)}
}
/* Safari 和 Chrome */
@-webkit-keyframes carMove 
{
    0%{-webkit-transform:translateX(-150px)}  
    100%{-webkit-transform:translateX(1900px)}
}
/* Opera */
@-o-keyframes carMove 
{
    0%{-webkit-transform:translateX(-150px)}  
    100%{-webkit-transform:translateX(1900px)}
}



