@charset "utf-8";
html{color:#333;background:#fff;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {margin:0;padding:0;}
body,input,select,textarea {font:12px/1.5 "宋体",arial,tahoma;color:#333;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:400;}
address,cite,dfn,em,var,caption,strong,th,i,code,kbd,pre,samp{font-style:normal;font-weight:400;}
ul,ol {list-style:none;}
sub, sup {position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
input, button, textarea, fieldset, img {border: 0 none;}
button,input,select,textarea {font-size:100%;vertical-align:middle;font-family:inherit;}
textarea {overflow: auto; /* Remove vertical scrollbar in IE6-9 */vertical-align: top; /* Readability and alignment cross-browser */}
table {/*border-collapse:collapse;*/border-spacing:0;}
th{ text-align: inherit;}
caption,th{text-align: center;}
a {text-decoration: none;color:#005aa0;}
a:hover {text-decoration: underline;color:#a40000;}
.clearfix:before,.clearfix:after {display: table;content:'';}
.clearfix:after { clear: both; }
.clearfix { *zoom:1;}
q:before,q:after{content: ""}
.clear { clear:both;}
iframe{display: block;}
abbr,acronym{border: 0 none;font-variant: normal;}
del{text-decoration: line-through;}
.fl{float: left;}.fr{float: right;}.fc{clear: both;}.fz{zoom:1;}
label{ cursor:default;}
a,input[type="text"]{ outline:0 !important;}
.br{ border:1px solid #f00;}
label,input,button,select,textarea {font-size:14px; font-weight:normal; line-height:20px;}
.dis_n{ display:none;}
input,button,select,textarea {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
label { display:block; margin-bottom:5px;}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input { display:inline-block; height:20px; padding:4px 6px; margin-bottom:10px;font-size:14px;line-height:20px;color:#555555;
  vertical-align:middle; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}

input,textarea,.uneditable-input {width:206px;}
textarea { height: auto;}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {background-color:#ffffff; border:1px solid #cccccc;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s; -moz-transition:border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;transition: border linear 0.2s, box-shadow linear 0.2s;}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {border-color: rgba(82, 168, 236, 0.8);outline: 0;outline: thin dotted \9;/* IE6-9 */ -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {/*margin: 4px 0 0; margin-top: 1px \9; *margin-top: 0;line-height: normal;*/}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {width: auto;}

select,
input[type="file"] { height: 30px;/* In IE7, the height of the select element cannot be changed by height, only font-size */ *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */ line-height: 30px;}

select { width: 220px; background-color: #ffffff; border: 1px solid #cccccc;}

select[multiple],
select[size] { height: auto;}

select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus { outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;
outline-offset: -2px;}

.form-horizontal{ font-size:14px;}
.form-search input,
.form-horizontal input,
.form-search textarea,
.form-horizontal textarea,
.form-search select,
.form-horizontal select,
.form-search .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-horizontal .input-append {display: inline-block;*display: inline;margin-bottom: 0;vertical-align: middle;*zoom:1;}
.form-search .hide,
.form-horizontal .hide {display: none;}
.form-horizontal .control-group {margin-bottom: 20px;*zoom: 1;}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {display: table;line-height: 0;content: "";}
.form-horizontal .control-group:after {clear: both;}
.form-horizontal .control-label {float: left;width: 160px;padding-top: 5px;text-align: right;}
.form-horizontal .controls {*display: inline-block;*padding-left: 20px;margin-left: 180px;*margin-left: 0;}
.form-horizontal .controls:first-child {*padding-left: 180px;}
.form-horizontal .help-block { margin-bottom: 0;}
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {margin-top: 10px;}
.form-horizontal .form-actions {padding-left: 180px;}
.controls .con_txt{display:inline-block; height:20px; padding-top:5px;}
.controls .con_txt14{display:inline-block; height:20px; padding-top:3px;}
.controls.money_err{ position:relative;}
.controls.money_err label.error{ position:absolute; left:235px; top:3px;}
.controls.chongzhi_err{ position:relative;}
.controls.chongzhi_err label.error{ position:absolute; left:190px; top:3px;}

.index_bd{ margin:0 auto; width:100%; max-width:1920px; background:#f6ece3 url(../img/repeat.jpg) 0 0 repeat; overflow:hidden;}
.content{ position:relative; margin:0 auto; width:1100px;}

.footer{ height:158px; background:#d0112b;}
.footer .footer_nav{ margin-left:58px; margin-bottom:10px; padding-top:60px;}
.footer .footer_nav a{ margin-right:10px; color:#fff;}
.footer .foot_txt{ margin-left:58px; color:#fff;}

.footer.hei99{ height:100px; line-height:100px; text-align:center;}


.a_link{position:static; display:inline-block; width:auto; padding-right:8px; height:30px;font-size:18px; line-height:30px;color: #d0112b; cursor:pointer; border:1px solid #d0112b; border-radius:5px;}

.btnico_bg{ float: left; margin-top:5px; margin-left: 10px; display:inline-block; margin-right: 7px; width: 27px; height:20px; background: url(../img/lm_2c_btn.png) 0px -32px no-repeat; border-right:1px solid #d0112b;}
.btnico_bg.loubu_bg{ background-position:0 -68px;}
.btnico_bg.jvzi_bg{ background-position:0 -135px;}

.on .a_link,
.a_link:hover{ background-color:#d0112b;color:#fff;}
.on .btnico_bg,
.a_link:hover .btnico_bg{ background-position:0 0;border-right:1px solid #fff; }
.on .btnico_bg.loubu_bg,
.a_link:hover .btnico_bg.loubu_bg{ background-position:0 -100px;border-right:1px solid #fff;}
.on .btnico_bg.jvzi_bg,
.a_link:hover .btnico_bg.jvzi_bg{ background-position:0 -170px;border-right:1px solid #fff;}









